.floating-button-left {
    position: fixed !important;
    bottom: 25px;
    right: 100px;
}
.floating-button-right {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
}
.full-height {
    height: 86vh !important;
}
.animate-up-down {
    animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}