.floating-button-left {
    position: fixed !important;
    bottom: 25px;
    right: 100px;
}
.floating-button-right {
    position: fixed !important;
    bottom: 25px;
    right: 25px;
}
.full-height {
    height: 86vh !important;
}
.animate-up-down {
    animation: MoveUpDown 5s linear infinite;
}

@keyframes MoveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
a:hover {
    color: inherit;
}
.baseBlock {
    border-radius: 5px;
    -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.baseBlock:hover {
    box-shadow: 0 40px 40px rgba(0, 0, 0, 0.2);
}
