@typeparam TEntity

@if (Data is null) {
    <div class="d-flex align-items-center justify-content-center">
        <MudProgressCircular Indeterminate="true" Size="Size.Large" Color="Color.Primary"/>
    </div>
}
else {
    @ChildContent(Data)
}

@code {

    [Parameter]
    [EditorRequired]
    public TEntity? Data { get; set; }

    [Parameter]
    [EditorRequired]
    public RenderFragment<TEntity> ChildContent { get; set; } = null!;

}
